body {
background-color: #ffffff;
text-align: center;
}

h1 {
    display: block;
    font-size: 35px;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color:rgb(71, 65, 55);
    text-align: center;
  }

ul {
    text-align: center;
  }   

a {
    color: hotpink;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration:none;
  }

  a:hover {
    color: rgb(107, 100, 103);
  }

  .button {
    background-color: #59473d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .email {
    background-color: #59473d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .call {
    background-color: #59473d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
